body {
   margin: 0;
   padding: 0;
  
}

/* container */

#container{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #333;
    height: 1000px;
    width: 1500px;
}



/* Nav Bar */

.nav-bar{
    
    background-color: aquamarine;
    
}

.nav-bar ul{
    list-style-type: none;
}

.nav-bar ul li{
    
    padding: 0 50px;
}



/* Profile information */

.profileInformation{
    
    left: 220px;
    height: 740px;
    width: 360px;
    background-color: aquamarine;
}

.profileInformation img{
    display:block;
    margin:auto;
    padding-top: 15px;
    height: 20rem;
    width: 19rem;
    border-radius: 150%; /* encircle the image */
    
}

/* Content */

.content{
    display: inline-grid;
    padding: 10px;
    background-color: aquamarine;
}